app/code/Training/Config/etc/my_custom_config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="my_custom_config">

        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" maxOccurs="1" minOccurs="0" type="xs:nonNegativeInteger" />
                <xs:element name="type" maxOccurs="1" minOccurs="1" type="xs:string" />
                <xs:element name="name" maxOccurs="1" minOccurs="1" type="xs:string" />
                <xs:element name="description" maxOccurs="1" minOccurs="0" type="xs:string" nillable="true" />
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>